[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
  "dotenv>=0.9.9",
  "fastapi>=0.118.0",
  "requests>=2.32.5",
  "uvicorn>=0.32.0",
  "mcp[cli]>=1.0.0",
  "fastmcp>=2.12.4",
  "openai>=2.6.1",
]
